body{
   font-family: "microsoft yahei";
}
select{
    font-family: "microsoft yahei";
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    margin-left: 100px;
    color:#fff;
    background-color: #659900;
    border:1px solid #659900;
}
select:active
select:focus{
    border: 1px solid #659900;
}
option{
    color:#000;
    width: 200px;
    background-color: #fff;
    border:1px solid #659900;
}
option:hover,
option:focus{
    background-color: #659900;
}

.layout{
    margin-left: 30%;
    height: 20%;
    width: 160px;
    font-family: "microsoft yahei";
    font-size: 17px;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.input
{
    color:#fff;
    border:1px solid #659900;
}
/*#arrow{*/
    /*width:0;*/
    /*height:0;*/
    /*margin-top: 9px;*/
    /*margin-left: 60px;*/
    /*border-width:13px;*/
    /*border-style:solid;*/
    /*border-color:#659900 #659900 #fff #659900;*/
/*}*/
#sub
{
    color:#659900;
    width: 165px;
    position: absolute;
    top: 45px;
    display: none;
    border: 1px solid #659900;
    border-radius:4px ;
    z-index: 999;
    background-color: #fff;
}
#sub ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#sub ul li
{
    padding: 0 5px;
    line-height: 24px;
}
#sub ul li:hover
{
    color: #fff;
    background-color:#659900;
}

#select{
    background-color: #737373;
    height: 40px;
    margin-top: 20px;
}
/******学期选择********/
/*.btn-single{*/
    /*width: 190px;*/
    /*margin-left: -10px;*/
    /*float: left;*/
    /*z-index: -1;*/
    /*text-align: center;*/
/*}*/
/*.btn-all{*/
    /*width: 190px;*/
    /*margin-top:-34px;*/
    /*margin-left: 50%;*/
/*}*/

input[type='button']:enabled:active, input[type='button'].mui-active:enabled,
input[type='submit']:enabled:active,
input[type='submit'].mui-active:enabled,
input[type='reset']:enabled:active,
input[type='reset'].mui-active:enabled,
button:enabled:active,
button.mui-active:enabled,
.mui-btn:enabled:active,
.mui-btn.mui-active:enabled
{
    color: #fff;
    border: 1px solid #659900;
    background-color:#659900;
}

.mui-btn-blue
{
    color: #fff;
    border: 1px solid #659900;
    background-color:#659900;
}
.mui-btn-blue:enabled:active, .mui-btn-blue.mui-active:enabled
{
    color: #659900;
    border: 1px solid #659900;
    background-color:#fff;

}

.ulterm{
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
    transition: 100ms ease-out;
}
.literm{
    transform-origin: center center -89.5px;
    transform: translateZ(89.5px) rotateX(0deg);
}
/*.btn-green*/
/*{*/
    /*color: #659900;*/
    /*border: 1px solid #659900;*/
    /*background-color:#fff;*/
/*}*/
/*.btn-green:focus,*/
/*.btn-green:hover*/
/*.btn-green:active{*/
    /*color: #fff;*/
    /*border: 1px solid #659900;*/
    /*background-color:#659900;*/
/*}*/

/*.btn-green:enabled:focus,*/
/*.btn-green:enabled:hover,*/
/*.btn-green:enabled:active{*/
    /*color: #659900;*/
    /*border: 1px solid #659900;*/
    /*background-color:#fff;*/
/*}*/
a{
	text-decoration: none;
}
